   @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster');
   * {
       box-sizing: border-box;
   }

   body {
       background-color: #55acee;
       font-family: Arial, sans-serif;
   }

   h1 {
       text-align: center;
       color: #fff;
   }

   .box {
       width: 600px;
       height: auto;
       margin: 0 auto;
   }

   h2 {
       color: #fff;
       font-size: 50px;
       text-align: center;
       font-family: 'Lobster', cursive;
   }

   h3 {
       text-align: center;
       color: #fff;
       font-family: 'Indie Flower', cursive;
   }

   button {

       margin: 0 auto;
       width: 30%;
       background-color: #55acee;
       padding: 10px;
       font-size: 15px;
       border: 1px solid white;
       display: block;
       color: #fff;
   }

   a {
       width: 30%;
       font-size: 15px;
       color: green;
       border: 1px solid white;
       padding: 10px;
       display: block;
       margin: 0 auto;
       margin-top: 30px;
       text-align: center;
       text-decoration: none;
       color: #fff;
   }